
.aux-sider-toggle-btn {
    border: none;
    height: auto;
    .anticon {
        color: var( --color );
        &-more { font-size: 2.5rem }
        &-shrink { font-size: 1.5rem }
    }
    &, &:active, &:focus, &:hover, &:visited {
        background: transparent;
    }
}