:root {
    --shbg: var( --white );
    --shborder: var( --border-color );
}
.dark {
    --shbg: #23272f;
    --shborder: #23272f;
}
.site-heading {
    background-color: var( --shbg );
    border-bottom: 1px solid var( --shborder );
    column-gap: 0.5rem;
    > * { flex: 1 1 auto }
    &, & > * {
        align-items: center;
        display: flex;
    }
    > :last-child {
        flex-wrap: nowrap;
        gap: 1rem;
        justify-content: flex-end;
        overflow-x: hidden;
        padding-right: 0.5rem;
        text-align: right;
        > .site-tags { margin-right: 5rem }
    }
    .sider-toggle-btn, .branding, .logo-link, .logo {
        height: var( --top-height )
    }
    .sider-toggle-btn {
        background: var( --charcoal );
        border: none;
        border-right: 2px solid var( --vue-blue );
        color: var( --white );
        display: block;
        flex: 0 0 2rem;
        > * { font-size: 1rem }
    }
    > .branding > .logo-link {
        background: transparent;
        margin-bottom: -.5rem;
        margin-top: -.5rem;
        padding-left: 1rem;
    }
    .branding { width: 32rem }
    .logo {
        background: transparent;
        height: calc( var( --top-height ) + 0.25rem );
        width: 8rem;
    }
    .text {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 19rem;
        white-space: nowrap;
        @media ( max-width: 524px ) {
            justify-content: flex-start;
            padding-left: 1.5rem;
        }
        > :first-child {
            font-size: 1.45rem;
            font-weight: 800;
            padding-right: 0.5rem;
            > a {
                color: var( --color )
            }
        }
        > :last-child {
            border-left: 0.25rem solid var( --yellow );
            font-weight: 300;
            padding-left: 0.5rem;
            > a {
                color: var( --svelte-orange );
                font-weight: 700;
            }
            @media ( max-width: 524px ) {
                display: none;
            }
        }
    }
}
