.code-block {
    display: contents;
    > :first-child {
        border: 1px solid var(--charcoal);
        border-radius: 0;
        position: relative;
    }
    button[aria-label="Copy Code"] {
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        right: 0.2rem;
        position: absolute;
        top: 0.2rem;
        &:hover { opacity: 0.75 }
        [fill="#e6e1dc"] {
            &, & * {
                fill: var( --gray ) !important;
                &:hover {
                    fill: var( --blue ) !important;
                }
            }
        }
    }
    .linenumber.react-syntax-highlighter-line-number {
        border-right: 1px solid var( --yellow );
        margin-right: 1em;
    }
}