.index-layout {
    display: flex;
    flex-direction: column;
    font-family: system-ui, sans-serif;
    line-height: 1.8;
    min-height: 100vh;
    > .site-heading {
        flex: 0 0 auto;
        position: fixed;
        width: 100%;
        z-index: 10;
        > :last-child {
            @media ( max-width: 629px ) {
                display: none !important;
            }
        }
        .dark-mode-settings {
            @media ( max-width: 535px ) {
                display: none;
            }
        }
        .aux-sider-toggle-btn {
            @media ( max-width: 638px ) {
                display: none;
            }
            @media ( min-width: 1400px ) {
                display: none;
            } 
        }
        .site-tags {
            @media ( max-width: 999px ) {
                display: none;
            }
        }
        .sider-toggle-btn {
            @media ( min-width: 992px ) { 
                display: none;
            }
        }
    } 
    > .site-body {
        flex: 1 0 auto;
        margin-top: var( --top-height );
        .aux-sider {
            @media ( max-width: 1399px ) {
                display: none;
                &.permanent-on { display: initial }
            }
            .close {
                @media ( min-width: 639px ) {
                    display: none;
                }
            }
        }
        .tags-area {
            @media ( min-width: 1000px ) {
                display: none;
            }
            > .aux-sider-toggle-btn {
                @media ( max-width: 638px ) {
                    display: initial;
                }
            }
        }
    }
    > .site-footing { flex: 0 1 auto }
}
